h1 {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2,p,li,div {
  font-family: "Mali", cursive;
  font-weight: 400;
  font-style: normal;
}

.cat-text {
  color:grey !important;
}